body {
  background-color: rgb(30, 30, 30);
}

#main {
  background-color: rgb(30, 30, 30);
  color: rgb(225, 225, 225);
}

#nav {
  background-color: rgb(45, 45, 45);
  color: rgb(210, 210, 210);
  padding: 0;
  margin: 0;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#nav-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgb(45, 45, 45);
  /*position: -webkit-sticky;
  position: sticky;
  top: 0;*/
}

#nav-item {
  /*background-color: rgb(45, 45, 45);*/
  display: inline;
  padding: 10px;
  margin: 5px;
  /*background-color: rgb(45, 45, 45);*/
  text-decoration: none;
}

#break {
  display: inline;
  text-decoration: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#break:hover {
  cursor: default;
}

#nav-item:hover {
  background-color: rgb(30, 30, 30);
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#nav-item.dropdown {
  display: inline-block;
}

.dropbtn {
  display: inline-block;
  color: rgb(225, 225, 225);
  /*background-color: white*/;
  text-align: center;
  /*padding: 14px 16px;*/
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(45, 45, 45);
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /*z-index: 1;*/
}

.dropdown-content a {
  color: rgb(225, 225, 225);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(30, 30, 30);
}

.dropdown:hover .dropdown-content {
  display: block;
}

#header {
  color: rgb(210, 210, 210);
  padding: .1px;
  margin: 10px;
  text-align: center;
}

#body {
  background-color: rgb(45, 45, 45);
  color: rgb(210, 210, 210);
  margin: 15px;
  padding: .1px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#body-content {
  margin: 10px;
  padding: .1px;
}

#footer {
  color: rgb(210, 210, 210);
}

#footer-content {
  text-align: center;
}
